body {
    background: var(--primary-900);
    background: url("/images/cover-admin.jpg") center / cover,
                linear-gradient(0deg, var(--primary-900) 0%, var(--primary-500) 100%);
    background-attachment: fixed;
}
